# Ignore node_modules directory
node_modules/

# Ignore log files
*.log
# Ignore airflow
airflow/data
airflow/logs
airflow/plugins
# Ignore compiled binary files
*.exe
*.dll
*.so
*.dylib

# Ignore editor files
.vscode/
.idea/
data/
airflow/run_env/dags/__pycache__
.csv
data-validation/data