# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled binary files
*.exe
*.dll
*.so
*.dylib

# Ignore environment files
.env

# Ignore editor files
.vscode/
.idea/
data/