apache-airflow==2.7.1
apache-airflow-providers-postgres==5.6.1
airflow-provider-great-expectations==0.2.6
apache-airflow-providers-docker==3.7.5
apache-flink==1.17.1
pydeequ==1.0.1
python-dotenv==1.0.0
nltk==3.8.1
python-dotenv==1.0.0
fastparquet==2023.8.0
pandas
confluent-kafka==2.2.0
requests==2.31.0
fastavro==1.4.5
minio==7.1.16
PyYAML==6.0.1
dbt-core==1.6.5
dbt-postgres==1.6.5
python-dotenv==1.0.0
PyYAML==6.0.1
psycopg2-binary==2.9.9
jupyterlab==4.0.6
great_expectations==0.17.21
deltalake==0.10.2
numpy
#sqlalchemy==1.4.24
